<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.imeg.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.imeg.servlet.ProdutosServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ResultadoServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.imeg.servlet.ResultadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionariosServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.imeg.servlet.FuncionariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidadesServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.imeg.servlet.UnidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriasServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.imeg.servlet.CategoriasServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosServlet</servlet-name>
        <url-pattern>/produtos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultadoServlet</servlet-name>
        <url-pattern>/sucesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionariosServlet</servlet-name>
        <url-pattern>/funcionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidadesServlet</servlet-name>
        <url-pattern>/unidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriasServlet</servlet-name>
        <url-pattern>/categorias</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
