

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
input[type=number] {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 8px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
} 
.sale{
    position: absolute;
    z-index: 999;
    top:-3px;    
}
.sale + .over-sale > a:hover{
    color:#D9C40B!important;
}
.sale + .over-sale > a{
    text-align: center!important;
    background-color: #34495E;
    color: #34495E;
    padding: 10px 0;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}
.sale + .over-sale{
    position: absolute;
    top:37px;
    left:14px;
    width:320px;
    min-height: 168.4px;
    background-color: #fff!important;
    z-index: 998;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #34495E;
    display: none;
    max-height: 267px;
}
input[type=number]:hover::-webkit-inner-spin-button { 
    background: transparent url('../img/arrow-number.png') no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: -8px;
    border-radius: 28px;
}#requests{
    padding: 0;
}
.row-requests{
    margin:10px 1px;
    border: 1px solid #ccc; 
    height: 400px;
    -webkit-box-shadow: 3px 6px 24px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 3px 6px 24px -5px rgba(0,0,0,0.44);
    box-shadow: 3px 6px 24px -5px rgba(0,0,0,0.44);
}
.row-requests button.btn.btn-button + input[type='number']{
    width: 60px;
    display: inline-block;
    margin-top:5px;
}
.row-requests button.btn.btn-button{
    margin: 20px auto;
    background-color: #dd1355;
    color: #fff;
    font-size: .9em;
    width: 100px;
}
.row-requests button.btn.btn-button:hover{
    background-color: #e2cc0c;
    color:#34495E;
}
.row-requests .descricao{
    height: 180px;
    border: 1px solid transparent;
}
.row-requests  strong > span{
    font-weight: normal;
}
.row-requests  strong + strong{
    font-size: 1.4em;
    color:#dd1355;
}
.row-requests  strong{
    display:block;
}
em{
    font-size: .8em;
}
.logo{
    margin-top:-16px;
}
#warning ul {
    list-style: none;
    padding: 0;
}
#warning ul li {
    padding-left: 1.3em;
}
#warning ul li:before {
    content: "\f057"; /* FontAwesome Unicode */
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
.navbar{
    background-color: #34495E !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.13em;
    color: #fff;
}
.dropdown.navbar-form.navbar-right{
    margin-right: -30px;
    border-right: none;
}
.dropdown.navbar-form.navbar-left button{
    margin-left: -20px;
    padding: 4px;
    margin-top: 3px;

}
.dropdown button > i{
    color: #E2CC0C;
}

.dropdown button[aria-expanded='true'] > i{
    color: #dd1355;
}

.dropdown button:hover > i{
    color: #dd1355;
}
.dropdown button + .dropdown-menu{
    margin-left: -5px;
    margin-top: 7px;
}
.navbar .nav.navbar-nav li a:visited{color:#fff;}
.navbar .nav.navbar-nav li a:active{
    color:#dd1355;
}
.navbar .nav.navbar-nav li a:hover{
    color:#dd1355;
}
.navbar .nav.navbar-nav li.active a:hover{
    color: #000;
}
.navbar-default .navbar-nav>.open>a{
    background-color: #34495E;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:visited {color:#555!important;}
.btn-default {
    color: #ffffff;
    background-color: #34495E;
    font-size: 1em;
    border:none;
    margin-top: -1px;
}
.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #dd1355;
    background-color: #34495E!important;
    border:none;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #dd1355;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background: #34495E;
    border-color: #34495E;
    color:#ffffff;
}
.dropdown-menu{
    background-color: #34495E;        
}
.dropdown-menu>li>a{
    font-weight: normal;
    font-size: 1.2em;
    color:#fff!important;
}
.dropdown-menu>li>a:visited{color:#fff!important;}
.dropdown-header {
    padding: 8px 16px;
    line-height: 1.538;
    font-size: 1em;
    text-transform: capitalize;
    color: #e2cc0c;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color:#34495E!important;background-color: #e2cc0c;}
.dropdown-menu>li>a:hover{
    color:#34495E;
}
.carousel-inner{
    margin-top: 0px;
    margin-bottom: 10px;
}

footer.footer {
    position: absolute;
    margin-top:20px;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    color:#FFF;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #34495E;
}

body > .container {
    padding: 2px 15px 0;
    min-height:100%;  
    margin-bottom: -62px; 
}

body > .container:after {
    content: "";
    display: block;
}

#footer, body > .container:after {
    height: 142px; 
}

footer.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.container .text-muted {
    margin: 20px 0;
}
code {
    font-size: 70%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #34495E;
    color:#FFFFFF;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


.errors{
    display: inline-block;
    width:100%;
    height:auto;
    border:1px solid red;
    background-color: #FFEEE8;
    color:red;
    font-size: 12px;
    text-align:center;
}

table thead th{
    text-align:center;
}
table td i:hover{
    color:#dd1355;
}
table td {
    text-align: center;    
}
table td i{
    color:#34495E;
}

#carrinho table thead th:first-child{
    text-align:left;
}
#carrinho table td i:hover{
    color:#dd1355;
}

#carrinho input[type='number']{
    width: 60px;
}
#carrinho table td{
    text-align: left;  
    height: 22px;
    line-height: 22px;
    vertical-align: middle;    
    text-align: center;
}
#carrinho form.finalizar-compra input[type='submit']{
    width: 250px;
    height: 60px;
    font-size: 2em;
    border-radius: 4px;
}
#carrinho form.finalizar-compra input[type='submit']:hover, #carrinho form button[type='submit']:hover, #carrinho a.continuar-venda:hover{
    background-color: #e2cc0c!important;
    color:#34495E;
}
#carrinho button.atualizar-produto-carrinho{
    position:absolute;
    top:0;
    left: 70px;
    display: inline;
}
#carrinho button.remover-produto-carrinho:hover{
    background-color: transparent!important;
}
#carrinho .remover-produto-carrinho > i, #carrinho .atualizar-produto-carrinho > i{
    color: #fff;
}

#carrinho .remover-produto-carrinho, #carrinho .atualizar-produto-carrinho{
    padding: 5px;
    border: none;
    background-color: #34495E;
    font-size: 1.2em;
    color:#fff;
}
#carrinho table td:first-child {
    text-align: left;    
}
#carrinho table td > div{
    padding: 0;
}

#carrinho table td i{
    color:#34495E;
}
#carrinho .sub-total{
    color: #dd1355;
    font-size: 1.4em;
}
#carrinho .total{
    font-size: 2em;
}
.active-elem-table{
    font-size:21px!important;
}
.color-elem-table-deactive{
    color: red;
}
.over-sale > .product > ul > li:hover i{
    color:#fff;
}
.over-sale > .product > ul > li i{
    margin-left:-13px;
    font-size: 1.4em;
}
.over-sale > .product > ul > li:hover a span{
    color:#FFF;
}
.over-sale > .product > ul > li a span + span{
    font-size: 1.3em;
    color:#dd1355;
}
.over-sale > .product > ul > li a{
    color:#34495E!important;
}
.over-sale > .product > ul > li:hover{
    background-color: #dd1355;
}
.over-sale > .product > ul > li{
    left:0;
    position: absolute;
    color:black;
    height:40px;
    line-height: 40px;
    font-size: .8em;
    font-weight: bold;
    width:100%;
}
.over-sale > .product > ul{
    list-style: none;
    left:0;
    position: relative;
}
.over-sale > .product{
    width: 100%;
    height:40px;
    margin:1px 0;
    padding: 0;
    background-color: #e2cc0c;
    display: block;
}
.sale button.btn.cart:hover{
    background-color: #34495E;
    color:#fff;
}
a.sale .badge{
    position: absolute;
    top:3px;
    left: 45px;
    background-color: #dd1355;
    color:#fff;
}
.btn-cart{
    position:absolute;
    background-color: #dd1355;
    color: #fff;
    bottom:0;
    right:0;
    width: 100%;
}
.btn-cart:hover, .btn-cart:hover i{
    background-color: #34495E;
    color: #fff;
}
a.sale:hover .badge{
    background-color: #fff;
    color:#dd1355;
}

a.sale i{
    padding: 0 8px;
    font-size: 2em;
    min-height: 30px;
    line-height: 30px;
}
a.sale:hover{
    background-color: #E2CC0C!important;
}
ul{
    list-style-type: square;
}
#login ul{
    list-style: none;
}
#login ul li{
    display: inline;    
    padding: 10px;
}

.user-logged{
    font-size: 11px;
    color: white;
    font-family: helvetica;
}

.news-text p{
    padding:10px 4px;
}
.border-gray:first-child{
    border-left:1px solid #ccc !important;    
}
.border-gray{
    border-right:1px solid #ccc !important;
    border-top:1px solid #ccc !important;
    border-bottom:1px solid #ccc !important;

}
.space-col-right-50px{
    margin-right: 137px;
}
.align-charts{
    min-height: 300px;
    min-width: 420px;
    margin: 0 auto;
}
.chart{
    height: 300px;
}

.form-space{
    margin:10px 0;
}