

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.logo{
	margin-top:-16px;
}
.navbar{
	background-color: #464646 !important;
}

.navbar .nav.navbar-nav li a:hover{
	color:#fff;
}
.navbar .nav.navbar-nav li.active a:hover{
	color: #000;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {color:#555!important;}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color:#dd1355!important;}







